// -----------------------------------------------------------------------------
// 
// Frankly Config 
// 
// -----------------------------------------------------------------------------




// -----------------------------------------------------------------------------
// Defaults (overridable)
// 
// Create a _config.scss and pass overrides using @use with:
// 
// @use '../frankly/config with(
//      $url-config: $url-config, 
//      $color-config: $color-config,
//      ...
// );
// -----------------------------------------------------------------------------
$url-config:     () !default;
$z-layer-config: () !default;
$color-config:   () !default;



// -----------------------------------------------------------------------------
// Shared (locked) 
// -----------------------------------------------------------------------------
$shared: null;