// -----------------------------------------------------------------------------
// 
// Config
// 
// -----------------------------------------------------------------------------


$color-config: (
    light: (
        'none': transparent
    ),
    dark: (),
    dim: (),
);






@use '../frankly/config' with(
    $color-config: $color-config
); 