// -----------------------------------------------------------------------------
//
// Url
//
// -----------------------------------------------------------------------------
@use '../config' as *;
@use '../core/string';
@use '../core/map';
// @use '../var' as *;


$url-config: (
    image: './',
    font: './',
    css: './',
    svg: './',
) !default;




// -----------------------------------------------------------------------------
// Get 
// -----------------------------------------------------------------------------
@function get($src, $type: null) {
    $path: map.get($url-config, $type);
    $path: if(
        string.slice($path, string.length($path), -1) != '/',
        $path + '/',
        $path
    );

    @return string.unquote('url(#{$path}#{$src})');
}


// -----------------------------------------------------------------------------
// Image 
// -----------------------------------------------------------------------------
@function image($src) {
    @return get($src, image);
}


// -----------------------------------------------------------------------------
// Font 
// -----------------------------------------------------------------------------
@function font($src) {
    @return get($src, font);
}


// -----------------------------------------------------------------------------
// CSS 
// -----------------------------------------------------------------------------
@function image($src) {
    @return get($src, css);
}


// -----------------------------------------------------------------------------
// SVG (base encode) 
// -----------------------------------------------------------------------------
@function svg($src) {
    @return '';
}



